#Home {
    .col-criterias {
        height: calc(100vh - 76px);
    }
    .wrapper-french-map {
        height: auto;
        position: relative;
        top: calc(50% - 38px);
        width: 100%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
        img {
            height: 100%;
            max-height: 800px;
            width: 100%;
        }
    }
}
