@font-face {
    font-family: 'Bryan';
    src: url('fonts/Bryant.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bryan-Bold';
    src: url('fonts/Bryant-Bold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bryan-Medium';
    src: url('fonts/Bryant-Medium.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Din-Round-Black';
    src: url('fonts/ff-din-round-black.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Din-Round-Light';
    src: url('fonts/ff-din-round-light.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Din-Round-Medium';
    src: url('fonts/ff-din-round-medium.otf');
    font-weight: normal;
    font-style: normal;
}
