.CityWatching {
    height: 100%;
    .btn {
        position: relative;
        text-transform: uppercase;
        top: calc(50% + 60px);
        z-index: 3;
    }
    .city {
        color: $grey_light;
        font-size: 17rem;
        left: 50%;
        position: absolute;
        top: calc(25% + 55px);
        text-transform: uppercase;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .data, .label {
        color: $grey_charcoal;
        font-family: $din_rnd_lgt;
    }
    .data {
        font-size: 6.4rem;
    }
    .label {
        font-size: 1.8rem;
    }
    .the-data {
        left: 50%;
        position: absolute;
        top: calc(50% - 85px);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);
        p {
            margin-bottom: 0;
        }
    }
    .wrapper-matter-js {
        height: 100%;
        margin-top: -25px;
        width: 100%;
        z-index: 2;
    }
}
.CityWatching.compared {
    .city {
        font-size: 9rem;
        top: calc(25% + 116px);
    }
    .data {
        font-size: 3.8rem;
    }
    .label {
        font-size: 1.4rem;
    }
    .the-data {
        top: calc(50% - 58px);
    }
}
