.swal2-modal {
    padding: 1.875rem !important;
    width: 55rem !important;
}
.swal2-title {
    font-size: 3.5rem !important;
    margin-bottom: 1.875rem !important;
}
.swal2-confirm {
    background: linear-gradient(to left, $yellow, $yellow_emoji) !important;
}
.swal2-container {
    -webkit-animation: backdropAnimation linear 250ms forwards;
    -moz-animation: backdropAnimation linear 250ms forwards;
    animation: backdropAnimation linear 250ms forwards;
    * {
        font-family: $roboto;
    }
    a {
        color: $yellow;
        &:hover {
            color: $yellow_emoji;
        }
    }
    button {
        border-radius: 1.875rem !important;
        font-size: 1.5rem !important;
        font-weight: 800 !important;
    }
    h4 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    p {
        font-size: 1.6rem;
    }
    .swal2-content {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }
}
