// general
@import 'tools/mixins';
@import 'tools/variables';
@import 'tools/animation';
@import 'fonts/fonts';
// Bootstraps
// bootstrap requirements
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/reboot';
// bootstrap utilities
@import '~bootstrap/scss/utilities/spacing';
// bootstrap components
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
// custom styles
@import 'components/button';
@import 'components/container';
@import 'components/criterias';
@import 'components/cities';
@import 'components/city_emoji';
@import 'components/nav';
@import 'pages/home';
@import 'pages/loading';
@import 'pages/watch';

html {
    font-size: 10px;
}
body {
    background-color: $grey_lighter;
    color: $grey_charcoal;
    font-family: $din_rnd_reg;
    font-size: 1.6rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    height: 100vh;
    line-height: normal;
    letter-spacing: normal;
    overflow: hidden;
    width: 100vw;
}
// ATOMIC CSS
.justify-content-center {
    justify-content: center!important;
}
.p-absolute {
    position: absolute !important;
}
.p-fixed {
    position: fixed !important;
}
.p-relative {
    position: relative !important;
}
